<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Shopping Cart</title>
</head>
<body>

<h1>Your Shopping Cart</h1>

<div th:if="${cart.products==empty}">
    <p>Your cart is empty.</p>
</div>

<div style="float:right">
    Logged in as: <span sec:authentication="name">User</span>

    <form th:action="@{/logout}" method="post" style="display:inline;">
        <input type="submit" value="Sign Out"/>
    </form>
</div>

<table border="1" th:unless="${cart.products==empty}">
    <thead>
    <tr>
        <th>Item Name / Description</th>
        <th>Type</th>
        <th>Price</th>
        <th>Action</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="product : ${cart.products}">

        <td>
            <span th:if="${product instanceof T(csd230.lab1.entities.PublicationEntity)}"
                  th:text="${product.title}"></span>

            <span th:if="${product instanceof T(csd230.lab1.entities.TicketEntity)}"
                  th:text="${product.description}"></span>
        </td>

        <td th:text="${product.productType}"></td>

        <td th:text="${product.price}"></td>

        <td>
            <a th:href="@{/cart/remove/{id}(id=${product.id})}">Remove</a>
        </td>

    </tr>
    </tbody>
</table>

<br>
<a th:href="@{/books}">Continue Shopping</a>
<form th:action="@{/cart/checkout}" method="post">
    <button type="submit">Checkout</button>
</form>
</body>
</html>
